{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load core_extras %}

{% block content %}
  <h2>Les présences de/du {{ event }}</h2>
  {% if event.attendants.all %}
  {% if request.user|has_group:"entraineur" and event.event_type == 'MATCH' %}
    <div>Sélectionnés: {{ event.attendants.all | is_selected | length }}</div>
  {% endif %}
  <table class="table table-striped table-responsive">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Evénement</th>
        <th scope="col">Joueur</th>
        <th scope="col">Est présent</th>
        {% if event.event_type == 'MATCH' %}
        <th scope="col">Est sélectionné</th>
        {% endif %}
        {% if event.event_type == 'ENTRAINEMENT' or event.event_type == 'MATCH' %}
        <th scope="col">Tâche</th>
        {% endif %}
        {% if request.user|has_group:"entraineur" and event.event_type == 'MATCH' %}
          <th scope="col">Sélectionner</th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for attendant in event.attendants.all %}
        <tr>
        <th scope="row">{{ attendant.pk }}</th>
        <td>{{ event }}</td>
        <td>{{ attendant.attendee.last_name }} {{ attendant.attendee.first_name }}</td>
        <td>{% if attendant.is_attending == True %}✔️{% elif attendant.is_attending == False %}❌{% else %}❔{% endif %}</td>
        {% if event.event_type == 'MATCH' %}
          <td>{% if attendant.is_selected == True %}✔️{% elif attendant.is_selected == False %}❌{% else %}❔{% endif %}</td>
        {% endif %}
        {% if event.event_type == 'ENTRAINEMENT' or event.event_type == 'MATCH' %}
        <td>{{ attendant.task.get_task_type_display }}</td>
        {% endif %}
        {% if request.user|has_group:"entraineur" and event.event_type == 'MATCH' %}
          <td>
            {% if attendant.is_attending == True %}
              <a href="{% url 'player_selection' attendance_id=attendant.pk %}" class="btn btn-secondary">✎</a>
            {% endif %}
          </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div><p>Aucune présence disponible</p></div>
  {% endif %}
  {% if request.user|has_group:"entraineur" and event.event_type in 'ENTRAINEMENT,MATCH' %}
  <form method="post" action="{% url 'assign_tasks' event_id=event.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Assigner les tâches</button>
  </form>
  <br />
  {% endif %}
  <a href="{% url 'list_events' %}" class="btn btn-secondary">Précédent</a>
{% endblock %}