{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Les présences de/du {{ event }}</h2>
  {% if event.attendants.all %}
  <table class="table table-striped table-responsive">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Evénement</th>
        <th scope="col">Joueur</th>
        <th scope="col">Est présent</th>
        </tr>
    </thead>
    <tbody>
        {% for attendant in event.attendants.all %}
        <tr>
        <th scope="row">{{ attendant.pk }}</th>
        <td>{{ event }}</td>
        <td>{{ attendant.attendee.last_name }} {{ attendant.attendee.first_name }}</td>
        <td>{% if attendant.is_attending == True %}✔️{% elif attendant.is_attending == False %}❌{% else %}❔{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div><p>Aucune présence disponible</p></div>
  {% endif %}
  <a href="{% url 'list_events' %}" class="btn btn-secondary">Précédent</a>
{% endblock %}