{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Les événements à venir</h2>
  {% if events %}
  <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Date de l'événement</th>
            <th scope="col">Description</th>
            <th scope="col">Présences</th>
          </tr>
        </thead>
        <tbody>
            {% for event in events %}
          <tr>
            <th scope="row">{{ event.pk }}</th>
            <td>{{ event.get_event_type_display }}</td>
            <td>{{ event.event_date }}</td>
            <td>{{ event.description }}</td>
            <td><a href="{% url 'list_attendances' event_id=event.pk %}" class="btn btn-secondary">&#128269;</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div><p>Aucun événement à venir</p></div>
      {% endif %}
{% endblock %}