{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Les membres du club</h2>
  {% if users %}
  <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Groupes</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users %}
          <tr>
            <th scope="row">{{ user.username }}</th>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profile.phone }}</td>
            <td>{{ user.groups.all|join:", " }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div><p>Aucun membre du club</p></div>
      {% endif %}
{% endblock %}